body, html {
  margin: 0;
  padding: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  height: 100%;
  width: 100%;
}

@import "~igniteui-angular/lib/core/styles/themes/index";

$company-color: #2ab759;
$secondary-color: #f96a88; 

$my-color-palette: igx-palette( $primary: $company-color, $secondary: $secondary-color );

@include igx-core();

@include igx-theme($my-color-palette);
