:host {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 400px;
}

.edit-address-overlay-container {
  grid-column: 2;
  background-color: #fff;
}

.address-editor-container {
  height: calc(100vh - 66px);
  overflow-y: scroll;
}

mat-toolbar-row {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.address-email-form,
.address-phone-form {
  display: block;
  min-height: 300px;
}
